body {
    background-color: #47325F;
}

.jumbotron {
    margin-top: 50px;
}

.tweet-send {
    margin-top: 15px;
}

.tweet {
    border-left: 12px solid #302041;
    background-color: #B5A8C4;
    padding: 5px;
    margin: 5px;
}

.tweet-date {
    font-size: small;
    color: #635771;
}
