body {
    background-color: #47325F;
}

h3 {
    color: #B5A8C4;
    border-bottom: 3px solid #302041;
    padding-bottom: 5px;
}

.jumbotron {
    margin-top: 50px;
}

.login,
.register
{
    margin-left: 20%;
    margin-top: 5%;
}

.login label,
.register label,
.edit-user label,
.login p,
.register p,
.edit-user p
{
    color: #B5A8C4;
}

.tweet-send {
    margin-bottom: 15px;
    padding: 0px;
}

.btn-tweet {
    background-color: #302041;
    color: #B5A8C4;
}


.tweet-instruction {
    border-right: 1px solid #B5A8C4;
    border-bottom: 1px solid #B5A8C4;
    background-color: #302041;
    color: #B5A8C4;
    padding: 10px;
}

.tweet,
.comment,
.message {
    border-right: 12px solid #302041;
    border-bottom: 12px solid #302041;
    padding: 5px;
    margin: 10px -5px;
}

.tweet {
    position: relative;
    background-color: #B5A8C4;
    color: black;
}

.comment {
    position: relative;
    background-color: #F0F8D1;
    color: black;
}

.message {
    position: relative;
    background-color: #FFF6D7;
    color: black;
}

.tweet-date,
.comment-date,
.message-date {
    font-size: small;
    color: #635771;
}

.open-tweet,
.open-message {
    position: absolute;
    right: 5px;
}

.tweet-username a {
    font-size: small;
    color: #635771;
}

.comment-username a {
    font-size: small;
    color: #B4C570;
}

.message-username a {
    font-size: small;
    color: #CEB974;
}

.open-tweet a {
    font-size: small;
    color: #635771;
}

.open-message a {
    font-size: small;
    color: #CEB974;
}

.message-unread {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 150%;
    color: #302041;
}

.tweets,
.messages {
  /* wyświetlają się horyzontalnie */
  display: flex;
  /* łamanie wierszy */
  flex-wrap: wrap;
  /* wyrównanie */
  justify-content: left;
  margin-top: 20px;
}

.user-info {
    font-size: 150%;
    color: #B5A8C4;
}

.text-label {
    color: #635771;
}
